<div class="navbar navbar-default navbar-fixed-top">
  <div class='container'>
    <div class="row">
      <div class="col-md-10">

        <!-- branding and header -->
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="/">
              <div>
                <img class='img-circle' src="/img/sprite.png"  alt=""></img>
                Joshua Loyal
              </div>
            </a>-->

          <!-- buttons across the top -->
          <button class="navbar-toggle" type="button" data-toggle="collapse"
                  data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div> <!-- nav-bar header  -->

        <!-- collapsable menu that shows up for small screens -->
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">About</a>
            </li>
            <li>
              <a href="/">Blog</a>
            </li>
            <li>
              <a href="/">Code</a>
            </li>
          </ul>
        </div> <!-- collabsable menu -->

      </div>
    </div>
  </div>
</div>
