{% extends "resume.html" %}

{% block body %}
  <div class='container top-buffer'>
    <div class='row'>

      <!-- Profile Image -->
      <div class="col-xs-4 col-sm-2 col-md-2">
        <img class="pull-right"
             style="height:140px; width:180px; border-radius:20px;"
             src="/img/profile.png" alt="Me."/>
      </div>

      <!-- Profile Info -->
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class='resume-name'>
          Joshua Loyal
        </div>
        <div class='lead'>
          Statistics Ph.D. Student<br>
          University of Illinois at Urbana-Champaign<br>
        <ul class="list-inline" style='font-size: 1.2em;'>
          <li>
            <a href="https://github.com/joshloyal" class='icon'>
              <i class="fa fa-github fa-lg"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/joshloyal" class='icon'>
              <i class="fa fa-linkedin fa-lg"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/joshloyal" class='icon'>
              <i class="fa fa-twitter fa-lg"></i>
            </a>
          </li>
        </ul>
        </div>
      </div>

    </div>

    <div class='row'>
      <div class="col-md-9">
      <hr>
      <p>
      I am a Ph.D. student in Statistics at the University of Illinois at Urbana-Champaign.
      In addition, I work part-time as a Data Scientist at DataRobot, a start-up in Boston
      aimed at building an automated Machine Learning platform.
      </p>

      <p>
      My previous background is in Physics (M.S. 2016 Yale University, B.S. 2013 Duke
      University) and Mathematics (B.S. 2013 at Duke University). During my physics career,
      I worked as a particle physicist as part of the ATLAS collaboration at the
      Large Hadron Collider in Geneva, Switzerland. There I performed large scale data
      analytics and contributed to the development of a Deep Learning framework (GAIA)
      for classifying subatomic-particle jets.
      </p>
      </div>

      <div class="hidden-xs col-sm-3 col-md-2">
        <nav id="toc" closs='navbar-brand' data-spy="affix" data-toggle="toc"></nav>
      </div>
    </div>

    <div class='row resume'>
      <div class="col-xs-12 col-sm-9 col-md-9">
        {% include "sections/education.html" %}
        {% include "sections/skills.html" %}
        {% include "sections/honors.html" %}
        {% include "sections/conferences.html" %}
        {% include "sections/work.html" %}
        {% include "sections/teaching.html" %}
      </div>
    </div>

    <div class='row'>
      <div class="col-xs-12 col-sm-9 col-md-9">
        {% include "footer.html" %}
      </div>
    </div>

  </div>
{% endblock %}
