{% extends "resume.html" %}

{% block body %}
  <div class='container'>
    <div class='row resume'>
      <div class="col-xs-12 col-sm-9 col-md-9">
        {% include "sections/education.html" %}
        {% include "sections/skills.html" %}
        {% include "sections/honors.html" %}
        {% include "sections/conferences.html" %}
        {% include "sections/work.html" %}
        {% include "sections/teaching.html" %}
      </div>

      <div class="hidden-xs col-sm-3 col-md-2" style='margin-top:45px'>
        <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
      </div>

    </div>
  </div>
{% endblock %}
