{% extends "resume.html" %}

{% block body %}
  <div class='container top-buffer'>
    <div class='row'>

      <!-- Profile Image -->
      <div class="col-xs-5 col-sm-5 col-md-2">
        <img class="profile-picture pull-right" src="/img/profile.png" alt="Me."/>
      </div>

      <!-- Profile Info -->
      <div class="col-xs-5 col-sm-5 col-md-6">
        <div class='resume-name'>
          Joshua Loyal
        </div>
        <div class='lead'>
          {% for item in whoami %}
            {{ item }}<br>
          {% endfor %}
        <ul class="list-inline" style='font-size: 1.2em;'>
          <li>
            <a href="https://github.com/joshloyal" class='icon'>
              <i class="fa fa-github fa-lg"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/joshloyal" class='icon'>
              <i class="fa fa-linkedin fa-lg"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/joshloyal" class='icon'>
              <i class="fa fa-twitter fa-lg"></i>
            </a>
          </li>
        </ul>
        </div>
      </div>

    </div>

    <div class='row'>
      <div class="col-xs-12 col-sm-12 col-md-9">
      <hr>
      {{ summary }}
      </div>

      <div class="hidden-xs hidden-sm col-md-2">
        <nav id="toc" closs='navbar-brand' data-spy="affix" data-toggle="toc"></nav>
      </div>
    </div>

    <div class='row resume'>
      <div class="col-xs-12 col-sm-12 col-md-9">
        {% include "sections/education.html" %}
        {% include "sections/skills.html" %}
        {% include "sections/honors.html" %}
        {% include "sections/conferences.html" %}
        {% include "sections/work.html" %}
        {% include "sections/teaching.html" %}
      </div>
    </div>
  </div>
{% endblock %}
