{% extends "resume.html" %}

{% block body %}
<div class='container top-buffer'>
  {% for item in teaching_material %}
  <div class='row'>
    <div class='col-md-12'>
    <hr/>
      <h1>{{ item.title }}</h1>
      {% if item.thumbnail %}
      <div>
        <img src="/{{ item.thumbnail }}"/>
      </div>
      {% endif %}
      <p >{{ item.description }}</p>
      <div class="btn-group-xs">
        <a href="{{ item.site }}"
        class="button">Site</a>
        {% if item.repo %}
        <a href="{{ item.repo }}"
        class="button">Code</a>
        {% endif %}
      </div>
    </div>
  </div<
  {% endfor %}
</div>
{% endblock %}
